* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f5a442;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    background-color: #8b64f5;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    animation: do-pop 0.5s ease infinite alternate;
}

.download-link {
    color: #f5a442;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    color: #fa8a02ab;
}

@keyframes do-pop {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.instruction {
    font-size: 0.8rem;
}